.app {
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: /*Definicion de las 3 areas o estructuras principales*/
    "header"
    "contenido"
    "footer";
    grid-template-columns: auto; /*Tamaño del las columnas para todas las areas es automatico*/
    grid-template-rows: 50px auto auto; /*le damos 50px al tamaño de la fila a el encabezado, al contenido tamano automatico al igual que le roda pie*/
}

.header {
    grid-area: header;
    align-items: center;
    display: flex;
    padding: 0 2rem;
}
.menu__link {
    color: #333333;
    padding: .5rem 1rem ;
}
.menu__link:hover, .menu__link:active {
    border-bottom:  2px solid #0073e6;

}
.contenido {
    grid-area: contenido;
    padding: 0 2rem;
}

.footer { 
    grid-area: footer;
}